services:   
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - attendance-mcsv

  attendance-mcsv:
    build:
      context: ./attendance-mcsv
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - db_data:/data
    environment:
      - DATABASE_URL=sqlite:////data/database.db
      - FLASK_ENV=production
      - SECRET_KEY=tu_clave_secreta_aqui 

  facedetection-mcsv:
    build:
      context: ./facedetection-mcsv
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - FLASK_ENV=production

volumes:
  db_data: